$gakken-red: #A41E22;

.active-slide{
   display: block;
}

.slide{
   width:100%;
   height: 500px;
   position: absolute;
   // background-size: 100% 100% !important;
   // background-position: 50% 0%;
   display: none;
 }

 .slide-wrapper{
    position: relative;
    padding-right: 0px !important;
    padding-left: 0px !important;

   .ninja-wrap{
      max-width: 100%;
      height: 500px;

      .slider-cont{
         position: relative;
      }

      .slide{
         width:100%;
         height: 500px;
         position: absolute;
         display: none;
         background: #ebebeb;

         div.container.row{
           z-index: 1;
         }


      }
    }

    .slider-nav{
       text-align: right;;
       position: absolute;
       bottom: 0;
       margin-bottom: 10px;
       font-size: 25px;
       font-weight: 700;
       width: 100%;
       height: 100%;

       .slider-nav-wrapper{
          display: inline-block;
       }

       .arrow-prev{
          left: 0;
       }

       .arrow-next{
          right: 0;
       }

       .arrow-next, .arrow-prev{
         position: absolute;
          padding: 10px;
          bottom: 33%;
          background: rgba(0, 0, 0, 0.3);
          font-size: 50px;
          color: #A41E22;
       }

       li{
          margin: 5px;
          display: inline-block;
       }

       a{
          // margin-top: 16px;
          // width: 1vw;
          // height: 1vw;

          i{
             color: #ebebeb;
          }
       }

       .dot{
         color: #bebebe;
          /* position: absolute; */
          left: 10px;
          /* bottom: 0; */
          font-size: 14px;
          /* z-index: 1; */
          padding-top: 20px;
       }

       .activedot{
          color: $gakken-red;
       }
    }
 }

 .activeslide{
    display: block;
 }


   .small-sidebar, .slide{
      position: relative;

     div.container {
      width: 100%;
      height: 100%;
      background-color: transparent;
      margin: 0 auto;

      .row{
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.8)));
        background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
        background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
      }

      .slide-copy{
        margin:10px;

        h1{
           font-weight: 600;
           margin-bottom:10px;
           font-size: 105%;
           color: #fff;
        }

        p{
          padding-bottom: 20px;
          color: #D2D2D2;

          a{
            color: #DE2F34;
            font-weight: 600;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
          }
        }

       a{
          color: #fff;
          font-weight: 700;
          text-decoration: none;

          &:hover{
             color: #ebebeb;
          }
       }



       span.tagline-p{
          color: #000;
          text-align: justify;
       }
              }
            }


   }
