.journal-slider {
    width: 100%;
    position: relative;
    display: block;
}

.journal-slider:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
}

.slider-journal {
    display: table-cell;
    width: 150px;
    /* height: 200px; */
    vertical-align: top;
    background: white;
    /* margin-right: 5px; */
    /* border: 1px black solid; */
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}

.slider-journal > .image img {
    display: inline-block;
    vertical-align: middle;
}

.slider-journal > .image img {
    max-height: 200px;
    max-width: 150px !important;
}

.slider-wrap {
    display: table !important;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 10px 0px;
}

.journal-wrap {
    overflow: hidden;
    display: block;
    height: 230px;
    max-width: 90%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.journal-wrap > .slider-wrap {
    display: inline-block;
    width: 100%;
    height: 220px%;
}

.journal-slider > .arrow {
    position: absolute;
    top: 90px;
    height: 20px;
    font-size: 40px;
    width: 5%;
}

.journal-slider > .arrow i {
    padding-top: 0px !important;
}

.journal-slider > .arrow-left {
    left: 0;
    text-align: left;
}

.journal-slider > .arrow-right {
    right: 0;
    text-align: right;
}

.slider-journal .title {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    height: 30px;
    width: 144px;
}
