.btn-transparant,
input.searchbox-underline {
    background: 0 0;
    border: none;
}

.nav-abjad-journal {
    height: 100%;
    text-align: right;
    padding-right: 20px;
    width: 8.3%;
    float: left;
}

.nav-abjad-journal>ul {
    padding: 80px 0;
}

.nav-abjad-journal>ul>li {
    border-right: 2px solid #ececec;
}

.nav-abjad-journal>ul>li.active,
.nav-abjad-journal>ul>li:hover {
    color: #A41E22;
    border-right: 4px solid #A41E22;
}

.nav-abjad-journal>ul>li>label {
    padding: 5px 10px 5px 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.nav-journal {
    border-bottom: 2px solid #ececec;
    height: 40px;
}

.nav-journal>.active,
ul.browse-journal>li.active {
    border-bottom: 2px solid #A41E22;
}

.nav-journal>div {
    height: 100%;
    padding: 0 0 10px;
}

.nav-journal>.title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.nav-journal>.search-container {
    text-align: right;
    padding-top: 7px;
}

ul.browse-journal {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 38px;
}

ul.browse-journal>li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    text-align: left;
}

ul.browse-journal>li.active,
ul.browse-journal>li:hover {
    color: #A41E22;
    font-weight: 700;
}

ul.browse-journal>li>label {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

input.searchbox-underline {
    text-align: right;
}

input.searchbox-underline:focus {
    border: none;
    outline: 0;
}

.journal-container {
    /* background: #fff; */
    display: block;
    /* margin: 5px 0; */
    /* -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.14); */
    -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.14);
    /* box-shadow: 1px 1px 1px 0 rgba(0,0,0,.14); */
    font-size: 14px;
}

.journal-container>.cover {
    position: relative;
    display: block;
    overflow: hidden;
}

.journal-container>.cover img {
    min-width: 100%;
    height: 200px;
    margin: auto;
}

.journal-container>.cover img:hover {
    opacity: .8;
}

.journal-container>.title {
    margin: 0 10px;
    font-size: 15px;
    padding-top: 5px;
    line-height: 20px;
    overflow: hidden;
    display: inline-block;
}

.journal-container>.title a {
    font-weight: bolder;
    margin-bottom: 5px;
    color: #000;
    display: inline-block;
    display: -webkit-inline-box;
    max-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.journal-container>.title a:hover {
    color: #A41E22;
}

.journal-container>.sub-title {
    font-size: 15px;
    padding: 5px 0;
    margin: 0 10px;
    display: inline-block;
    line-height: 20px;
    float: right;
}

.journal-container>.issn {
    border-top: 2px solid #dedede;
    font-size: 12px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 10px;
}

.journal-intro {
    background: #792929;
    color: #fff;
}

.journal-intro .image-wrap {
    padding-top: 50px;
    box-sizing: border-box;
    height: 350px;
    overflow: hidden;
}

.journal-intro .image-wrap>img {
    width: 400px;
}

.journal-intro .desc {
    padding: 50px 20px 20px;
}

.journal-intro .title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
    display: block;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.journal-wraps {
    width: 91.66666667%;
    float: left;
}

@media only screen and (min-width:0px) and (max-width:770px) {
    .journal-wraps {
        margin: 0!important;
    }
}

.cat-option {
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 10px;
    /* box-sizing: border-box; */
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.32);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.32);
    top: 30px;
}

.cat-option label {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.cat-option label:hover,
.cat-option .active {
    color: #A41E22;
}

#category_active {
    cursor: pointer;
    padding: 5px;
}

#category_active:hover,
#category_active.active {
    color: #A41E22;
    background: white;
}

.abjad-journal-m {
    display: none;
}

@media screen and (max-width: 480px) {
    .nav-abjad-journal {
        display: none;
    }

    .nav-journal {
        margin-left: 15px;
    }

    .row-category {
        margin-left: 15px;
    }

    .search-container > .searchbox {
        text-align: left;
    }

    .specialist-journal, .search-container, .abjad-journal-m, .category-journal-m {
        display: inline-block;
    }

    .abjad-journal-m {
        float: right;
    }

    .abjad-journal-m > select {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
    }
}
