.media-intro {
    background:#e9e9e9;
    height:420px;
    display: block;
    text-align: center;
    position: relative;
    padding-top: 230px;
}

.media-title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    /*font-weight: lighter;*/
    margin: auto;
    width: 380px;
    background: rgba(206, 195, 189, 0.68);
    padding: 10px;
}

.media-title > .title {
    font-size: 50px;
}

.media-title > .subtitle {
    font-size: 32.5px;
}

.featured-media {
    display: block;
    height: 480px;
    margin-bottom: 10px;
    position: relative;
}

.featured-media > .wrap {
    width: 100%;
    position: absolute;
    margin-top: -40px;
    margin-left: 0px;
    margin-right: 0px;
}

.featured-media > .wrap > .thumb {
    height:250px;
    overflow: hidden;
    padding: 0;
}

.featured-media > .wrap > .thumb > img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: all 0.5s ease-in-out;
    object-fit: none;
    object-position: center;
}

.featured-media > .wrap > .thumb > img:hover {
    opacity: 1;
}

.featured-media > .wrap > .thumb:nth-child(1) { background-color: #90e4ff; }
.featured-media > .wrap > .thumb:nth-child(2) { background-color: #ff9090; }
.featured-media > .wrap > .thumb:nth-child(3) { background-color: #ffca90; }
.featured-media > .wrap > .thumb:nth-child(4) { background-color: #ff9090; }
.featured-media > .wrap > .thumb:nth-child(5) { background-color: #ffca90; }
.featured-media > .wrap > .thumb:nth-child(6) { background-color: #90e4ff; }

.media-content {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    background: #bebebe;
}

.image-cropper img {
    position: absolute;
    left: -25%;
    margin: 0 auto;
    height: 100%;
    width: auto;
    cursor: pointer;
    /*transition: all 0.5s ease-in-out;*/
    opacity: 0;
}

.image-cropper img:hover {
    opacity: 1;
}

.image-cropper i {
    text-align: center;
    line-height: 100px;
    width: 100px;

    background: #d2d2d2;
    color: white;
    font-size: 34px;
    cursor: pointer;
}

.media-thumb > .title {
    text-align: center;
    margin-top: 10px;
}

.media-thumb > .title:hover {
    color: #EC1F27;
}

.media-tollbar {
    color: #bebebe;
}

.media-searching {
    display: inline-block;
    position: relative;
}

.media-category {
    display: inline-block;
    border-left: 2px solid #bebebe;
    padding-left: 10px;
    margin-left: 10px;
}

.media-category select, .media-sorting select {
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.media-category select:focus , .media-sorting select:focus {
    outline: none;
    color: #000;
}

.media-sorting {
    text-align: right;
    float: right;
}

.media-field-search {
    border: 0;
    border-bottom: 1px solid;
    border-bottom-color: #bebebe;
    padding: 5px;
    width: 87%;
    transition: all;
}

.media-field-search:focus {
    outline: none;
    border-bottom-color: #000;
    color: #000;
}

.media-btn-search {
    background: none;
    border: 0;
    width: 11%;
}

.media-btn-search:hover {
    color: #000;
}
