/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/* line 5, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
.gakkenvideo {
  background: #ebebeb;
  font: 'roboto', sans-serif;
}
/* line 13, ../sass/screen.scss */
.gakkenvideo .nav, .gakkenvideo .body-container .breadcrumb {
  padding: 10px 0px 10px 0px;
}
/* line 16, ../sass/screen.scss */
.gakkenvideo .nav span, .gakkenvideo .body-container .breadcrumb span {
  font-weight: 700;
}
/* line 19, ../sass/screen.scss */
.gakkenvideo .nav span a, .gakkenvideo .body-container .breadcrumb span a {
  color: #555555;
  text-decoration: none;
}
/* line 23, ../sass/screen.scss */
.gakkenvideo .nav span a.selected, .gakkenvideo .body-container .breadcrumb span a.selected {
  color: #A41E22;
}
/* line 27, ../sass/screen.scss */
.gakkenvideo .nav span a:hover, .gakkenvideo .body-container .breadcrumb span a:hover {
  text-decoration: underline;
}
/* line 35, ../sass/screen.scss */
.gakkenvideo .body-container {
  padding: 20px 0px 20px 0px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
/* line 41, ../sass/screen.scss */
.gakkenvideo .body-container .video {
  height: 500px;
  background: #9E9E9E;
  width: 100%;
}
/* line 47, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions {
  padding: 20px;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}
/* line 53, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions h3 {
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.5;
  color: #555;
}
/* line 60, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions article {
  width: 100%;
  margin: 20px 0px 20px 0px;
}
/* line 64, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions article p {
  padding: 10px 0px 10px 0px;
  letter-spacing: 1.5;
  line-height: 1.4;
}
/* line 71, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions ul {
  padding: 10px 0px 10px 0px;
  width: 100%;
  overflow: hidden;
}
/* line 76, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions ul li {
  float: left;
  padding: 10px 0px 10px 0px;
}
/* line 80, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions ul li button {
  padding: 10px;
  margin-right: 20px;
  background: #BDBDBD;
  border: 0;
  border-radius: 5px;
  font-size: 0.8em;
}
/* line 88, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions ul li button:hover {
  background: #757575;
  color: #ffffff;
}
/* line 93, ../sass/screen.scss */
.gakkenvideo .body-container .descriptions ul li button.selected {
  background: #A41E22;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  /* line 111, ../sass/screen.scss */
  .body-container {
    width: 90%;
  }
}
@media screen and (min-width: 769px) {
  /* line 118, ../sass/screen.scss */
  .body-container {
    width: 90%;
  }
}
