/*
Theme Name: Gakken Website.
Theme URI: gakken-idn.id
Description: Gakken theme for the new website
Version: 1.0
Author: Aisyah Azalya
Author URI: syhzly.com
*/

@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);

$gakken-red: #A41E22;

html {
  position: relative;
  min-height: 100%;
}

body {
	background: #f1f1f1;
	font-family: 'Gentium Book Basic', serif;
	word-wrap: break-word;
	border-sizing: border-box;
	margin-bottom: 268px;
}
nav, h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #555555;
	&:hover {
		color: #A41E22;
		text-decoration: none;
	}
	&.page-numbers {
		color: #A41E22;
		padding: 5px;
	}
}
.fixed-nv {
	min-height: 60px;
	background: #fff;
	border: none;
	border-bottom: 3px solid #A41E22;
	border-radius: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: -75px;
	transition: top 0.5s ease-out;
	.container-fluid {
		padding: 10px;
		.logo {
			overflow: hidden;
			a {
				padding: 5px 15px;
				img {
					width: 150px;
					height: auto;
				}
			}
		}
	}
}
.nvscrolled {
	top: 0;
}
@keyframes	Down {
		0% {
    -webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		visibility: visible;
	}

  100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
  }
}


  @keyframes Up {
			0% {
    -webkit-transform: translateY(0);
			transform: translateY(0);
		}
	}

	.dropdown-menu {
		padding-top: 0px;
		padding-botttom: 0px;
	}

	@media (min-width : 768px) {
					.modal-dialog{
    margin: 200px auto;
				}
			}


.dropdown-menu {
	& > li {
		& > a {
			padding: 5px 20px;
		}
	}
}

.user-profile-wrap {
	.user-profile-wrap-btn {
		padding-top: 7px;
		border: none;
		background: none;
		.user-profile {
			width: 40px;
			height: 40px;
			border-radius: 25px;
		}
	}
	.user-tab {
		margin-top: 12px !important;
		margin-right: 5px;
		background: white;
		border-top-right-radius: 4px !important;
		border-top-left-radius: 4px !important;
		&:before {
			content: "\f0d8";
			position: absolute;
			margin-top: -24px;
			right: 10px;
			color: #A41E22;
			font-size: 34px;
			background: transparent;
			font-family: 'FontAwesome';
		}
	}
}

.search{
  margin-bottom: 20px;

  .stylish-input-group .input-group-addon{
    background: white !important;

      }
      .stylish-input-group .form-control{
      	border-right:0;
      	box-shadow:0 0 0;
      	border-color:#ccc;
      }
      .stylish-input-group button{
          border:0;
          background:transparent;
      }

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
	background: transparent;
	color: #BBBABA;
}

.highlight-btn {
	background-color: #EC1F27;
	color: #fff !important;
	border-color: #D20811;
	padding: 5px 10px !important;
	&:hover {
		background: #ebebeb;
		border-color: #D0D0D0;
		color: #000 !important;
	}
}
.full-width {
	margin: 0 auto;
	max-width: 100%;
	width: 1100px;
}
.static-nv-container {
	background: #fff;
	border-bottom: 20px solid #A41E22;
}
.static-nv {
	border: none;
	background: transparent;
	margin-bottom: 0px;
	.navbar-brand {
		height: auto;
	}
	.navbar-nav {
		padding: 20px 0px;
	}
	.dropdown-menu {
		-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
		box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
		border: 0px !important;
	}
	.navbar-toggle {
		margin-top: 30px;
	}
	.navbar-right {
		& > .navbar-btn {
			margin-top: 30px;
		}
	}
}
.slider-container {
	padding-top: 20px;
	overflow: hidden;
	.slider {
		height: 500px;
		background: #B3B3B3;
		p {
			padding: 0px !important;
		}
		.read-more {
			padding-top: 5px;
		}
	}
	.slider-sidebar {
		padding-right: 0px !important;
		.small-sidebar {
			height: 150px;
			background: #B3B3B3;
			margin-bottom: 25px;
		}
	}
	.slide {
		.slide-copy {
			h1 {
				a {
					font-size: 120%;
				}
			}
			h5 {
				text-align: right;
				a {
					font-size: 80%;
					color: red;
				}
			}
		}
	}
}
.small-sidebar {
	position: relative;
	.container {
		position: absolute;
		z-index: 2;
		bottom: 0;
		width: 100%;
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.8)));
		background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
		background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
		background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
		position: absolute;
		width: 100%;
	}
	.img {
		overflow: hidden;
		display: block;
		height: 150px;
	}
	img {
		width: 100%;
		height: auto;
	}
}
.main-container {
	.article-wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}
	.article-container {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		h1 {
			color: #A41E22;
			font-size: 120%;
			margin-top: 10px;
			margin-bottom: 10px;
			font-weight: 600;
		}
		.row {
			padding-top: 10px;
			.article-row {
				h3 {
					font-weight: 600;
					font-size: 100%;
					line-height: 1.2em;
					padding: 5px 0px;
				}
				.article-img {
					height: 200px;
					background: #B3B3B3;
				}
			}
		}
		&:not(last-child) {
			border-bottom: 1px solid rgba(179, 179, 179, 0.35);
		}
	}
	.single-article-container {
		background: #fff;
		margin-bottom: 30px;
		padding: 20px;
		min-height: 1137px;
		section {
			overflow: hidden;
		}
		.page-header {
			margin: 10px 0 20px;
		}
		h1 {
			&.title {
				font-weight: 700;
				line-height: 1.4;
				font-size: 180%;
				font-weight: 700;
				font-style: normal;
				margin-left: -2.25px;
				line-height: 1.15;
				letter-spacing: -.02em;
			}
		}
		h2 {
			&.divider {
				color: #A41E22;
				font-size: 130%;
				font-weight: 700;
				padding: 20px 10px;
				&:before {
					content: '';
					width: 20px;
					height: 30px;
					background: #A41E22;
					display: block;
					float: left;
					position: absolute;
					left: 0;
					margin-top: -5px;
				}
			}
		}

    .taught-by {
			background: #ebebeb;
			padding: 20px;
			margin: 20px 0px;
			position: relative;
			overflow: hidden;

      .taught-by-wrapper{
        margin: 10px 0px;
        overflow: hidden;
        padding: 10px 0px;

        &:not(last-child){
          border-bottom: 1px solid #d2d1d1;
        }
      }

			.taught-by-desc {
				line-height: 1.4;
				text-align: justify;
				width: 80%;
				float: left;
				h3 {
					padding-bottom: 10px;
				}
			}

			.taught-by-pic {
				width: 20%;
				float: left;
        margin-top: 20px;
			}

			.taught-by-pic-container {
				margin: 0 auto;
				width: 100px;
				height: 100px;
				border-radius: 100px;
			}
		}

		.sub-desc {
			padding-bottom: 10px;
			color: rgba(0, 0, 0, 0.6);
		}
		article {
			img {
				max-width: 100%;
				height: auto;
				padding: 10px;
				text-align: center;
			}
			p {
				padding: 5px 0px;
				line-height: 1.2;
				font-style: normal;
				font-size: 18px;
				line-height: 1.58;
				letter-spacing: -.003em;
				a {
					color: #1488CC !important;
				}
			}
		}
	}
	.all-article-wrapper {
		p {
			a {
				color: #1488CC !important;
			}
		}
	}
	.two-tab {
		.readmore {
			right: 10px;
		}
		.list-group {
			margin-top: 20px;
			a {
				padding: 20px;
				font-family: 'Open Sans', sans-serif;
				font-size: 110%;
				span {
					&.description {
						font-size: 85% !important;
						margin: 5px 0px;
					}
				}
			}
		}
	}
}
.single-article-container {
	article {
		padding: 10px;
		strong {
			font-weight: 700;
		}
		h1 {
			font-size: 125%;
		}
		h2 {
			font-size: 120%;
		}
		h3 {
			font-size: 115%;
		}
		h4 {
			font-size: 110%;
		}
		h5 {
			font-size: 105%;
		}
		blockquote {
			padding: 20px 0px;
		}
	}
	h6 {
		padding-bottom: 20px;
		em {
			color: rgba(0,0,0,0.8);
		}
	}
	li {
		padding: 5px 10px;
		line-height: 1.4;
		list-style: circle;
	}
	p {
		img {
			max-width: 100%;
		}
	}
	.sub-desc {
		padding-top: 10px;
		font-family: "Open-sans", sans-serif;
		text-transform: capitalize;
	}
}
.single-article-container article h1, .single-article-container article h2, .single-article-container article h3, .single-article-container article h4, .single-article-container article h5 {
	padding: 20px 0px;
}
.single-article-container ul, .single-article-container ol {
	padding: 10px 20px;
}
.main-container .single-article-container .taught-by .taught-by-desc h3, .main-container .single-article-container .taught-by .taught-by-desc h4 {
	font-weight: 600;
}
.modal-header {
	color: #fff;
	background: #A41E22;
}
.modal-x {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 32px;
	color: #fff;
	&:hover {
		text-decoration: none;
		color: #ebebeb;
	}
}
.login-wrapper {
	background: #fff;
	position: relative;
	overflow: hidden;
	.login-form {
		margin: 0 auto;
		float: none;
		padding: 10px;
		h4 {
			font-size: 80%;
		}
		a {
			color: #A41E22;
		}
		label {
			padding: 5px 0px;
		}
		.login-container {
			margin: 20px 0px;
			font-family: 'Open Sans', sans-serif;
			button {
				text-align: center;
				color: #FFF;
				margin-top: 20px;
				background-color: #EC1F27;
				border-color: #EC1F27;
				&:hover {
					background: rgba(236, 31, 39, 0.54);
					border: 1px solid rgba(236, 31, 39, 0.54);
					color: #333;
				}
			}
		}
	}
}
.login-wrapper .login-form h3, .login-wrapper .login-form h4 {
	text-align: center;
	padding: 5px 0px;
}
.readmore {
	font-size: 12px;
	right: 0;
	padding: 5px;
	position: absolute;
	font-weight: normal;
	a {
		color: #000;
		&:hover {
			color: #A41E22;
		}
	}
}
.category-highlight {
	font-family: 'Open Sans', sans-serif;
	background-color: #A41E22;
	color: #fff;
	font-style: italic;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	right: 15px;
	text-align: right;
	position: absolute;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 268px;
	min-height: 0px;
}
section#footer {
	background: rgba(93, 93, 93, 0.23);
	padding-top: 30px;
	padding-bottom: 20px;
	.container {
		font-family: 'Open-sans', sans-serif;
		color: #5A5555;
		line-height: 1.4;
		a {
			color: #A41E22;
		}
		.textwidget {
			margin-top: 10px;
		}
	}
}
.topics-only {
	padding-right: 15px;
}
.topic-article {
	section {
		&:not(first-child) {
			padding: 20px 0px;
		}
	}
	#content-summary {
		p {
			padding: 10px 0px;
		}
		.list-group-item {
			padding: 15px;
		}
	}
	#achievements {
		.achievements-container {
			background: #ebebeb;
			padding: 20px;
			.achivements-item {
				margin: 0 auto;
				float: none;
				text-align: center;
				img {
					margin: 0 auto;
					padding: 5px;
				}
				p {
					text-align: center;
				}
			}
		}
	}
	#topic-faq {
		.accordion {
			border: 1px solid #ddd;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			margin-top: 10px;
		}
		.accordion-group {
			&:first-child {
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}
			.accordion-heading {
				padding: 10px;
				font-family: 'Open-sans', sans-serif;
				a {
					color: #837D7D;
				}
				.fa-caret-right {
					color: #A41E22;
				}
			}
			.accordion-inner {
				padding: 20px;
				color: #423B3B;
				background: #ddd;
			}
		}
	}
}
.sidebar-container {
	padding-right: 0px;
	div {
		padding-bottom: 20px;
	}
	.list-group {
		font-family: 'Open-sans', sans-serif;
		.active {
			background: #A41E22;
			border: 0px;
			font-size: 102%;
			font-weight: 600;
		}
		a {
			padding: 20px;
			font-family: 'Open Sans', sans-serif;
			font-size: 110%;
			span {
				&.description {
					font-size: 85% !important;
					margin: 5px 0px;
				}
			}
		}
	}
}
.home {
	.sidebar-container {
		div {
			&:first-child {
				margin-top: 58px;
			}
		}
	}
}

aside {
	position: relative;
	overflow: hidden;

	img {
		max-width: 100%;
	}
	.sidebar-sub-container {
		.list-group-item {
			border: none;
		}
	}
	.topics-tab {
		width: 12%;
		width: 100%;
		.list-group-item {
			background: #E4E4E4;
			&:hover {
				background: #fafafa;
				color: #333;
			}
			.btn {
				background: #1488CC;
				border: #0974B2;
				width: 100%;
			}
		}
		.active {
			background: #fafafa !important;
			color: #333;
			font-weight: 500 !important;
		}
		.fa-caret-right {
			position: absolute;
			right: 10px;
			color: #A41E22;
		}
	}
}
.navdis {
	display: block;
}
.sitemap {
	font-family: 'Open-sans', sans-serif;
	a {
		color: #1488CC !important;
		&:hover {
			color: #000 !important;
		}
	}
}
.all-article-wrapper {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px 0px;
}
.all-article-container {
	background: #fff;
	margin-bottom: 50px;
	padding: 20px;
	.main-title {
		color: #A41E22;
		font-weight: 700;
		font-size: 125%;
		line-height: 1.4;
	}
	.img {
		position: relative;
		margin: 15px 0px;
		img {
			width: 100% !important;
			height: auto;
		}
	}
	.container {
		position: relative;
		h2 {
			padding: 10px 0px;
			font-weight: 700;
			font-size: 120%;
			font-style: normal;
			margin-left: -2.25px;
			line-height: 1.15;
			letter-spacing: -.02em;
		}
		p {
			line-height: 1.4;
			padding: 10px 0px;
		}
		.readmore {
			font-weight: 600;
			color: #A41E22;
			font-size: 105%;
			position: relative;
		}
	}
}
.page-numbers {
	&.current {
		padding: 5px;
	}
}
.pagination {
	padding: 10px;
	font-family: 'Open-sans', sans-serif;
}
.comment-respond {
	padding: 10px;
	background: #fff;
	line-height: 1.4;
	position: relative;
	.comment-reply-title {
		font-weight: 600;
		padding: 10px 0px;
	}
	p {
		padding: 10px 0px;
	}
	a {
		color: #1488CC;
		&:hover {
			color: #000;
		}
	}
	.submit {
		background: #1488CC;
		padding: 5px;
		color: #fff;
		border: 1px solid #0974B2;
	}
}
.comment-respond input, .comment-respond textarea {
	width: 100%;
}
.commentary {
	padding-bottom: 20px;
	h3#comments {
		font-weight: 600;
		padding: 5px 0px;
	}
	.commentlist {
		li {
			background: #fff;
			padding: 10px;
			margin: 10px 0px;
		}
	}
	.comment-body {
		.comment-author {
			img {
				border-radius: 25px;
			}
		}
	}
	.reply {
		font-weight: 600;
		color: #1488CC;
	}
}
.comment-author {
	b {
		padding: 5px;
		font-weight: 600;
		text-transform: capitalize;
		color: #EC1F27;
	}
}
.comment-metadata {
	padding: 10px 0px;
	a {
		color: rgba(0,0,0,0.3);
	}
	span {
		&.edit-link {
			a {
				color: #1488CC;
			}
		}
	}
}
.comment-content {
	padding: 25px 10px;
	border-left: 3px solid rgba(0,0,0,0.2);
	font-size: 'Open-sans', sans-serif;
	margin: 10px 0px;
}
.category-wrap {
	ul {
		padding: 0px;
		li {
			list-style: none;
			float: left;
			padding: 0px;
		}
	}
	a {
		background: #A41E22;
		padding: 5px;
		color: #fafafa;
		font-family: 'Open-sans', sans-serif;
		font-size: 90%;
		margin-right: 10px;
	}
}

.post_tags {
	padding: 20px 0px;
	a {
		background: rgba(0,0,0,.05);
		margin-right: 5px;
		padding: 5px;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
		font-size: 90%;
		&:hover {
			color: #1488CC;
		}
	}
}

.super-title {
	font-weight: 600;
	font-size: 150%;
	color: #A41E22;
	padding: 10px 0px;
}

@media 	only screen and (min-width : 0px) and (max-width : 786px) {

    .slider-sidebar {
      padding-top: 20px;
			padding-left: 0px;
		}

    .article-row{
      margin-bottom: 30px;
    }

}

.nav {
	&.navbar-nav {
		&.navbar-right {
			text-align: right;
			padding-right: 20px;
		}
	}
}

.affix {
	position: relative;
}

.modal-dialog {
	margin: 40% 10px;
}

.btn-load-more{
    background: #1488CC;
    padding: 5px;
    color: #fff;
    border: 1px solid #0974B2;
    width: 100%;
}
